.select {
  padding: 0.7rem 1rem;
  border: 2px solid var(--color-border);
  border-radius: 0;

  transition: border linear 0.1s;

  &:focus {
    outline: none;
    border: 2px solid var(--color-primary-bright);
  }
}
